[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"

[dev-packages]
python-dotenv = "*"
flake8 = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
